body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.container {
  max-width: 500px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}

#resultados {
  margin-top: 20px;
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
}

.error {
  border: 2px solid red;
}